parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	excludePaths:
		- src/driver/ibase/Driver.php
	universalObjectCratesClasses:
		- vakata\database\schema\Entity