parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#ibase_.*not found.$#'
		- '#ibase_.*given.$#'
	excludePaths:
		- src/driver/ibase/Driver.php
	universalObjectCratesClasses:
		- vakata\database\schema\Entity